<!DOCTYPE html>
<html lang="en">

<%- include('partial/head') %>

<body>

    <!-- yang mau saya tampilkan disini port  -->
    <div class="container-fluid">
        <h1 class="text-center"> User Register </h1>
        <div class="register-edit">
            <form action="/register" method="POST">
                <input class="form-control  w-100" type="text" name="username" placeholder="Masukkan Username">
                <input class="form-control  w 100 mt-2" type="text" name="email" placeholder="Masukkan email">
                <input class="form-control inpas  w-50 mt-2 text-center" type="password" name="password"
                    placeholder="Masukkan password">
                <input class="form-control  w-100" type="text" name="age" placeholder="Masukkan Age">
                <input class="form-control  w 100 mt-2" type="text" name="address" placeholder="Masukkan Address">
                <input class="form-control  w-100" type="text" name="city" placeholder="Masukkan City">
                <input class="form-control  w 100 mt-2" type="text" name="win" placeholder="Masukkan win">
                <input class="form-control  w-100" type="text" name="lose" placeholder="Masukkan Lose">
                <input class="form-control  w 100 mt-2" type="text" name="status" placeholder="Masukkan status">
                <input class="form-control  w-100" type="text" name="is_active" placeholder="is_active">
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-warning btn-lg">Register</button>
                    <a href="/"><button type="button" class="btn-back my-2">Back</button></a>
                </div>
            </form>
        </div>
    </div>


</body>
<script>
    // versi fetch  pengganti fomr post 

    // Default options are marked with *
    // fetch('http:localhost:3000/edit1', {
    //     method: 'PUT', // *GET, POST, PUT, DELETE, etc.
    //     mode: 'cors', // no-cors, *cors, same-origin
    //     cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    //     credentials: 'same-origin', // include, *same-origin, omit
    //     headers: {
    //         'Content-Type': 'application/json'
    //         // 'Content-Type': 'application/x-www-form-urlencoded',
    //     },
    //     redirect: 'follow', // manual, *follow, error
    //     referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    //     body: JSON.stringify(data) // body data type must match "Content-Type" header
    // });
    // return response.json(); // parses JSON response into native JavaScript objects
</script>

</html>